body {
  margin: 0;
  font-family: "Montserrat";
}

.main-content {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.fullscreen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../public/background-mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2rem 0 1rem;
  width: 100%;

  @media (min-width: 768px) {
    padding: 3rem;
    align-items: flex-end;
    background-image: url("../public/background.jpg");
  }

  .title {
    color: #fff;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    user-select: none;
  }
}

.button {
  color: #fff;
  background-color: transparent;
  font-size: 1rem;
  height: 2rem;
  line-height: 1rem;
  border: 1px #fff solid;
  user-select: none;

  &:hover,
  &:focus,
  &:active {
    background-color: transparent;
    color: #000;
    border-color: #000;
  }

  @media (min-width: 768px) {
    --offset: 4px;
    --border-size: 1px;

    font-size: 1rem;
    height: 3rem;
    line-height: 1rem;
    display: block;
    position: relative;
    padding: 0.5rem 1rem;
    appearance: none;
    border: 0;
    background: transparent;
    color: #fff;
    text-transform: uppercase;

    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;

    &:hover {
      background: rgba(100, 0, 0, 0.03);
    }

    &__horizontal,
    &__vertical {
      position: absolute;
      top: var(--horizontal-offset, 0);
      right: var(--vertical-offset, 0);
      bottom: var(--horizontal-offset, 0);
      left: var(--vertical-offset, 0);
      transition: transform 0.8s ease;
      will-change: transform;

      &::before {
        content: "";
        position: absolute;
        border: inherit;
      }
    }

    &__horizontal {
      --vertical-offset: calc(var(--offset) * -1);
      border-top: var(--border-size) solid currentcolor;
      border-bottom: var(--border-size) solid currentcolor;

      &::before {
        top: calc(var(--vertical-offset) - var(--border-size));
        bottom: calc(var(--vertical-offset) - var(--border-size));
        left: calc(var(--vertical-offset) * -1);
        right: calc(var(--vertical-offset) * -1);
      }
    }

    &:hover &__horizontal {
      transform: scaleX(0);
    }

    &__vertical {
      --horizontal-offset: calc(var(--offset) * -1);
      border-left: var(--border-size) solid currentcolor;
      border-right: var(--border-size) solid currentcolor;

      &::before {
        top: calc(var(--horizontal-offset) * -1);
        bottom: calc(var(--horizontal-offset) * -1);
        left: calc(var(--horizontal-offset) - var(--border-size));
        right: calc(var(--horizontal-offset) - var(--border-size));
      }
    }

    &:hover &__vertical {
      transform: scaleY(0);
    }
  }
}

.ant-drawer {
  overflow: hidden;
}

.ant-drawer-right > .ant-drawer-content-wrapper {
  top: 25%;
  right: 0;
  bottom: unset;

  @media (min-width: 768px) {
    top: 33%;
    width: 50% !important;
    font-size: 1rem;
  }
}
